.custom-navbar {
    background-color: #343a40; /* Dark color for the navbar */
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
}

.navbar-brand {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #17a2b8; /* Light teal on hover */
}

.nav-link {
    color: #ffffff;
    font-size: 1em;
    margin-right: 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #17a2b8; /* Light teal on hover */
}

.nav-dropdown .dropdown-item {
    color: #333;
}

.logout-button {
    background-color: #dc3545; /* Red color for logout button */
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c82333;
}
